@charset "UTF-8";

/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
    font-family: FontAwesome;
    src: url(../font-awesome/fonts/fontawesome-webfont.eot?v=4.5.0);
    src: url(../font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0) format("embedded-opentype"), url(../font-awesome/fonts/fontawesome-webfont.woff2?v=4.5.0) format("woff2"), url(../font-awesome/fonts/fontawesome-webfont.woff?v=4.5.0) format("woff"), url(../font-awesome/fonts/fontawesome-webfont.ttf?v=4.5.0) format("truetype"), url(../font-awesome/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular) format("svg");
    font-weight: 400;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-lg {
    font-size: 1.3333333333em;
    line-height: .75em;
    vertical-align: -15%
}

.fa-2x {
    font-size: 2em
}

.fa-3x {
    font-size: 3em
}

.fa-4x {
    font-size: 4em
}

.fa-5x {
    font-size: 5em
}

.fa-fw {
    width: 1.2857142857em;
    text-align: center
}

.fa-ul {
    padding-left: 0;
    margin-left: 2.1428571429em;
    list-style-type: none
}

.fa-ul>li {
    position: relative
}

.fa-li {
    position: absolute;
    left: -2.1428571429em;
    width: 2.1428571429em;
    top: .1428571429em;
    text-align: center
}

.fa-li.fa-lg {
    left: -1.8571428571em
}

.fa-border {
    padding: .2em .25em .15em;
    border: .08em solid #eee;
    border-radius: .1em
}

.fa-pull-left {
    float: left
}

.fa-pull-right {
    float: right
}

.fa.fa-pull-left {
    margin-right: .3em
}

.fa.fa-pull-right {
    margin-left: .3em
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

.fa.pull-left {
    margin-right: .3em
}

.fa.pull-right {
    margin-left: .3em
}

.fa-spin {
    -webkit-animation: a 2s infinite linear;
    animation: a 2s infinite linear
}

.fa-pulse {
    -webkit-animation: a 1s infinite steps(8);
    animation: a 1s infinite steps(8)
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes a {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.fa-rotate-90 {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.fa-rotate-180 {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.fa-rotate-270 {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
}

.fa-flip-horizontal {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}

.fa-flip-vertical {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1)
}

:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270 {
    -webkit-filter: none;
    filter: none
}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle
}

.fa-stack-1x,
.fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center
}

.fa-stack-1x {
    line-height: inherit
}

.fa-stack-2x {
    font-size: 2em
}

.fa-inverse {
    color: #fff
}

.fa-glass:before {
    content: ""
}

.fa-music:before {
    content: ""
}

.fa-search:before {
    content: ""
}

.fa-envelope-o:before {
    content: ""
}

.fa-heart:before {
    content: ""
}

.fa-star:before {
    content: ""
}

.fa-star-o:before {
    content: ""
}

.fa-user:before {
    content: ""
}

.fa-film:before {
    content: ""
}

.fa-th-large:before {
    content: ""
}

.fa-th:before {
    content: ""
}

.fa-th-list:before {
    content: ""
}

.fa-check:before {
    content: ""
}

.fa-close:before,
.fa-remove:before,
.fa-times:before {
    content: ""
}

.fa-search-plus:before {
    content: ""
}

.fa-search-minus:before {
    content: ""
}

.fa-power-off:before {
    content: ""
}

.fa-signal:before {
    content: ""
}

.fa-cog:before,
.fa-gear:before {
    content: ""
}

.fa-trash-o:before {
    content: ""
}

.fa-home:before {
    content: ""
}

.fa-file-o:before {
    content: ""
}

.fa-clock-o:before {
    content: ""
}

.fa-road:before {
    content: ""
}

.fa-download:before {
    content: ""
}

.fa-arrow-circle-o-down:before {
    content: ""
}

.fa-arrow-circle-o-up:before {
    content: ""
}

.fa-inbox:before {
    content: ""
}

.fa-play-circle-o:before {
    content: ""
}

.fa-repeat:before,
.fa-rotate-right:before {
    content: ""
}

.fa-refresh:before {
    content: ""
}

.fa-list-alt:before {
    content: ""
}

.fa-lock:before {
    content: ""
}

.fa-flag:before {
    content: ""
}

.fa-headphones:before {
    content: ""
}

.fa-volume-off:before {
    content: ""
}

.fa-volume-down:before {
    content: ""
}

.fa-volume-up:before {
    content: ""
}

.fa-qrcode:before {
    content: ""
}

.fa-barcode:before {
    content: ""
}

.fa-tag:before {
    content: ""
}

.fa-tags:before {
    content: ""
}

.fa-book:before {
    content: ""
}

.fa-bookmark:before {
    content: ""
}

.fa-print:before {
    content: ""
}

.fa-camera:before {
    content: ""
}

.fa-font:before {
    content: ""
}

.fa-bold:before {
    content: ""
}

.fa-italic:before {
    content: ""
}

.fa-text-height:before {
    content: ""
}

.fa-text-width:before {
    content: ""
}

.fa-align-left:before {
    content: ""
}

.fa-align-center:before {
    content: ""
}

.fa-align-right:before {
    content: ""
}

.fa-align-justify:before {
    content: ""
}

.fa-list:before {
    content: ""
}

.fa-dedent:before,
.fa-outdent:before {
    content: ""
}

.fa-indent:before {
    content: ""
}

.fa-video-camera:before {
    content: ""
}

.fa-image:before,
.fa-photo:before,
.fa-picture-o:before {
    content: ""
}

.fa-pencil:before {
    content: ""
}

.fa-map-marker:before {
    content: ""
}

.fa-adjust:before {
    content: ""
}

.fa-tint:before {
    content: ""
}

.fa-edit:before,
.fa-pencil-square-o:before {
    content: ""
}

.fa-share-square-o:before {
    content: ""
}

.fa-check-square-o:before {
    content: ""
}

.fa-arrows:before {
    content: ""
}

.fa-step-backward:before {
    content: ""
}

.fa-fast-backward:before {
    content: ""
}

.fa-backward:before {
    content: ""
}

.fa-play:before {
    content: ""
}

.fa-pause:before {
    content: ""
}

.fa-stop:before {
    content: ""
}

.fa-forward:before {
    content: ""
}

.fa-fast-forward:before {
    content: ""
}

.fa-step-forward:before {
    content: ""
}

.fa-eject:before {
    content: ""
}

.fa-chevron-left:before {
    content: ""
}

.fa-chevron-right:before {
    content: ""
}

.fa-plus-circle:before {
    content: ""
}

.fa-minus-circle:before {
    content: ""
}

.fa-times-circle:before {
    content: ""
}

.fa-check-circle:before {
    content: ""
}

.fa-question-circle:before {
    content: ""
}

.fa-info-circle:before {
    content: ""
}

.fa-crosshairs:before {
    content: ""
}

.fa-times-circle-o:before {
    content: ""
}

.fa-check-circle-o:before {
    content: ""
}

.fa-ban:before {
    content: ""
}

.fa-arrow-left:before {
    content: ""
}

.fa-arrow-right:before {
    content: ""
}

.fa-arrow-up:before {
    content: ""
}

.fa-arrow-down:before {
    content: ""
}

.fa-mail-forward:before,
.fa-share:before {
    content: ""
}

.fa-expand:before {
    content: ""
}

.fa-compress:before {
    content: ""
}

.fa-plus:before {
    content: ""
}

.fa-minus:before {
    content: ""
}

.fa-asterisk:before {
    content: ""
}

.fa-exclamation-circle:before {
    content: ""
}

.fa-gift:before {
    content: ""
}

.fa-leaf:before {
    content: ""
}

.fa-fire:before {
    content: ""
}

.fa-eye:before {
    content: ""
}

.fa-eye-slash:before {
    content: ""
}

.fa-exclamation-triangle:before,
.fa-warning:before {
    content: ""
}

.fa-plane:before {
    content: ""
}

.fa-calendar:before {
    content: ""
}

.fa-random:before {
    content: ""
}

.fa-comment:before {
    content: ""
}

.fa-magnet:before {
    content: ""
}

.fa-chevron-up:before {
    content: ""
}

.fa-chevron-down:before {
    content: ""
}

.fa-retweet:before {
    content: ""
}

.fa-shopping-cart:before {
    content: ""
}

.fa-folder:before {
    content: ""
}

.fa-folder-open:before {
    content: ""
}

.fa-arrows-v:before {
    content: ""
}

.fa-arrows-h:before {
    content: ""
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
    content: ""
}

.fa-twitter-square:before {
    content: ""
}

.fa-facebook-square:before {
    content: ""
}

.fa-camera-retro:before {
    content: ""
}

.fa-key:before {
    content: ""
}

.fa-cogs:before,
.fa-gears:before {
    content: ""
}

.fa-comments:before {
    content: ""
}

.fa-thumbs-o-up:before {
    content: ""
}

.fa-thumbs-o-down:before {
    content: ""
}

.fa-star-half:before {
    content: ""
}

.fa-heart-o:before {
    content: ""
}

.fa-sign-out:before {
    content: ""
}

.fa-linkedin-square:before {
    content: ""
}

.fa-thumb-tack:before {
    content: ""
}

.fa-external-link:before {
    content: ""
}

.fa-sign-in:before {
    content: ""
}

.fa-trophy:before {
    content: ""
}

.fa-github-square:before {
    content: ""
}

.fa-upload:before {
    content: ""
}

.fa-lemon-o:before {
    content: ""
}

.fa-phone:before {
    content: ""
}

.fa-square-o:before {
    content: ""
}

.fa-bookmark-o:before {
    content: ""
}

.fa-phone-square:before {
    content: ""
}

.fa-twitter:before {
    content: ""
}

.fa-facebook-f:before,
.fa-facebook:before {
    content: ""
}

.fa-github:before {
    content: ""
}

.fa-unlock:before {
    content: ""
}

.fa-credit-card:before {
    content: ""
}

.fa-feed:before,
.fa-rss:before {
    content: ""
}

.fa-hdd-o:before {
    content: ""
}

.fa-bullhorn:before {
    content: ""
}

.fa-bell:before {
    content: ""
}

.fa-certificate:before {
    content: ""
}

.fa-hand-o-right:before {
    content: ""
}

.fa-hand-o-left:before {
    content: ""
}

.fa-hand-o-up:before {
    content: ""
}

.fa-hand-o-down:before {
    content: ""
}

.fa-arrow-circle-left:before {
    content: ""
}

.fa-arrow-circle-right:before {
    content: ""
}

.fa-arrow-circle-up:before {
    content: ""
}

.fa-arrow-circle-down:before {
    content: ""
}

.fa-globe:before {
    content: ""
}

.fa-wrench:before {
    content: ""
}

.fa-tasks:before {
    content: ""
}

.fa-filter:before {
    content: ""
}

.fa-briefcase:before {
    content: ""
}

.fa-arrows-alt:before {
    content: ""
}

.fa-group:before,
.fa-users:before {
    content: ""
}

.fa-chain:before,
.fa-link:before {
    content: ""
}

.fa-cloud:before {
    content: ""
}

.fa-flask:before {
    content: ""
}

.fa-cut:before,
.fa-scissors:before {
    content: ""
}

.fa-copy:before,
.fa-files-o:before {
    content: ""
}

.fa-paperclip:before {
    content: ""
}

.fa-floppy-o:before,
.fa-save:before {
    content: ""
}

.fa-square:before {
    content: ""
}

.fa-bars:before,
.fa-navicon:before,
.fa-reorder:before {
    content: ""
}

.fa-list-ul:before {
    content: ""
}

.fa-list-ol:before {
    content: ""
}

.fa-strikethrough:before {
    content: ""
}

.fa-underline:before {
    content: ""
}

.fa-table:before {
    content: ""
}

.fa-magic:before {
    content: ""
}

.fa-truck:before {
    content: ""
}

.fa-pinterest:before {
    content: ""
}

.fa-pinterest-square:before {
    content: ""
}

.fa-google-plus-square:before {
    content: ""
}

.fa-google-plus:before {
    content: ""
}

.fa-money:before {
    content: ""
}

.fa-caret-down:before {
    content: ""
}

.fa-caret-up:before {
    content: ""
}

.fa-caret-left:before {
    content: ""
}

.fa-caret-right:before {
    content: ""
}

.fa-columns:before {
    content: ""
}

.fa-sort:before,
.fa-unsorted:before {
    content: ""
}

.fa-sort-desc:before,
.fa-sort-down:before {
    content: ""
}

.fa-sort-asc:before,
.fa-sort-up:before {
    content: ""
}

.fa-envelope:before {
    content: ""
}

.fa-linkedin:before {
    content: ""
}

.fa-rotate-left:before,
.fa-undo:before {
    content: ""
}

.fa-gavel:before,
.fa-legal:before {
    content: ""
}

.fa-dashboard:before,
.fa-tachometer:before {
    content: ""
}

.fa-comment-o:before {
    content: ""
}

.fa-comments-o:before {
    content: ""
}

.fa-bolt:before,
.fa-flash:before {
    content: ""
}

.fa-sitemap:before {
    content: ""
}

.fa-umbrella:before {
    content: ""
}

.fa-clipboard:before,
.fa-paste:before {
    content: ""
}

.fa-lightbulb-o:before {
    content: ""
}

.fa-exchange:before {
    content: ""
}

.fa-cloud-download:before {
    content: ""
}

.fa-cloud-upload:before {
    content: ""
}

.fa-user-md:before {
    content: ""
}

.fa-stethoscope:before {
    content: ""
}

.fa-suitcase:before {
    content: ""
}

.fa-bell-o:before {
    content: ""
}

.fa-coffee:before {
    content: ""
}

.fa-cutlery:before {
    content: ""
}

.fa-file-text-o:before {
    content: ""
}

.fa-building-o:before {
    content: ""
}

.fa-hospital-o:before {
    content: ""
}

.fa-ambulance:before {
    content: ""
}

.fa-medkit:before {
    content: ""
}

.fa-fighter-jet:before {
    content: ""
}

.fa-beer:before {
    content: ""
}

.fa-h-square:before {
    content: ""
}

.fa-plus-square:before {
    content: ""
}

.fa-angle-double-left:before {
    content: ""
}

.fa-angle-double-right:before {
    content: ""
}

.fa-angle-double-up:before {
    content: ""
}

.fa-angle-double-down:before {
    content: ""
}

.fa-angle-left:before {
    content: ""
}

.fa-angle-right:before {
    content: ""
}

.fa-angle-up:before {
    content: ""
}

.fa-angle-down:before {
    content: ""
}

.fa-desktop:before {
    content: ""
}

.fa-laptop:before {
    content: ""
}

.fa-tablet:before {
    content: ""
}

.fa-mobile-phone:before,
.fa-mobile:before {
    content: ""
}

.fa-circle-o:before {
    content: ""
}

.fa-quote-left:before {
    content: ""
}

.fa-quote-right:before {
    content: ""
}

.fa-spinner:before {
    content: ""
}

.fa-circle:before {
    content: ""
}

.fa-mail-reply:before,
.fa-reply:before {
    content: ""
}

.fa-github-alt:before {
    content: ""
}

.fa-folder-o:before {
    content: ""
}

.fa-folder-open-o:before {
    content: ""
}

.fa-smile-o:before {
    content: ""
}

.fa-frown-o:before {
    content: ""
}

.fa-meh-o:before {
    content: ""
}

.fa-gamepad:before {
    content: ""
}

.fa-keyboard-o:before {
    content: ""
}

.fa-flag-o:before {
    content: ""
}

.fa-flag-checkered:before {
    content: ""
}

.fa-terminal:before {
    content: ""
}

.fa-code:before {
    content: ""
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
    content: ""
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
    content: ""
}

.fa-location-arrow:before {
    content: ""
}

.fa-crop:before {
    content: ""
}

.fa-code-fork:before {
    content: ""
}

.fa-chain-broken:before,
.fa-unlink:before {
    content: ""
}

.fa-question:before {
    content: ""
}

.fa-info:before {
    content: ""
}

.fa-exclamation:before {
    content: ""
}

.fa-superscript:before {
    content: ""
}

.fa-subscript:before {
    content: ""
}

.fa-eraser:before {
    content: ""
}

.fa-puzzle-piece:before {
    content: ""
}

.fa-microphone:before {
    content: ""
}

.fa-microphone-slash:before {
    content: ""
}

.fa-shield:before {
    content: ""
}

.fa-calendar-o:before {
    content: ""
}

.fa-fire-extinguisher:before {
    content: ""
}

.fa-rocket:before {
    content: ""
}

.fa-maxcdn:before {
    content: ""
}

.fa-chevron-circle-left:before {
    content: ""
}

.fa-chevron-circle-right:before {
    content: ""
}

.fa-chevron-circle-up:before {
    content: ""
}

.fa-chevron-circle-down:before {
    content: ""
}

.fa-html5:before {
    content: ""
}

.fa-css3:before {
    content: ""
}

.fa-anchor:before {
    content: ""
}

.fa-unlock-alt:before {
    content: ""
}

.fa-bullseye:before {
    content: ""
}

.fa-ellipsis-h:before {
    content: ""
}

.fa-ellipsis-v:before {
    content: ""
}

.fa-rss-square:before {
    content: ""
}

.fa-play-circle:before {
    content: ""
}

.fa-ticket:before {
    content: ""
}

.fa-minus-square:before {
    content: ""
}

.fa-minus-square-o:before {
    content: ""
}

.fa-level-up:before {
    content: ""
}

.fa-level-down:before {
    content: ""
}

.fa-check-square:before {
    content: ""
}

.fa-pencil-square:before {
    content: ""
}

.fa-external-link-square:before {
    content: ""
}

.fa-share-square:before {
    content: ""
}

.fa-compass:before {
    content: ""
}

.fa-caret-square-o-down:before,
.fa-toggle-down:before {
    content: ""
}

.fa-caret-square-o-up:before,
.fa-toggle-up:before {
    content: ""
}

.fa-caret-square-o-right:before,
.fa-toggle-right:before {
    content: ""
}

.fa-eur:before,
.fa-euro:before {
    content: ""
}

.fa-gbp:before {
    content: ""
}

.fa-dollar:before,
.fa-usd:before {
    content: ""
}

.fa-inr:before,
.fa-rupee:before {
    content: ""
}

.fa-cny:before,
.fa-jpy:before,
.fa-rmb:before,
.fa-yen:before {
    content: ""
}

.fa-rouble:before,
.fa-rub:before,
.fa-ruble:before {
    content: ""
}

.fa-krw:before,
.fa-won:before {
    content: ""
}

.fa-bitcoin:before,
.fa-btc:before {
    content: ""
}

.fa-file:before {
    content: ""
}

.fa-file-text:before {
    content: ""
}

.fa-sort-alpha-asc:before {
    content: ""
}

.fa-sort-alpha-desc:before {
    content: ""
}

.fa-sort-amount-asc:before {
    content: ""
}

.fa-sort-amount-desc:before {
    content: ""
}

.fa-sort-numeric-asc:before {
    content: ""
}

.fa-sort-numeric-desc:before {
    content: ""
}

.fa-thumbs-up:before {
    content: ""
}

.fa-thumbs-down:before {
    content: ""
}

.fa-youtube-square:before {
    content: ""
}

.fa-youtube:before {
    content: ""
}

.fa-xing:before {
    content: ""
}

.fa-xing-square:before {
    content: ""
}

.fa-youtube-play:before {
    content: ""
}

.fa-dropbox:before {
    content: ""
}

.fa-stack-overflow:before {
    content: ""
}

.fa-instagram:before {
    content: ""
}

.fa-flickr:before {
    content: ""
}

.fa-adn:before {
    content: ""
}

.fa-bitbucket:before {
    content: ""
}

.fa-bitbucket-square:before {
    content: ""
}

.fa-tumblr:before {
    content: ""
}

.fa-tumblr-square:before {
    content: ""
}

.fa-long-arrow-down:before {
    content: ""
}

.fa-long-arrow-up:before {
    content: ""
}

.fa-long-arrow-left:before {
    content: ""
}

.fa-long-arrow-right:before {
    content: ""
}

.fa-apple:before {
    content: ""
}

.fa-windows:before {
    content: ""
}

.fa-android:before {
    content: ""
}

.fa-linux:before {
    content: ""
}

.fa-dribbble:before {
    content: ""
}

.fa-skype:before {
    content: ""
}

.fa-foursquare:before {
    content: ""
}

.fa-trello:before {
    content: ""
}

.fa-female:before {
    content: ""
}

.fa-male:before {
    content: ""
}

.fa-gittip:before,
.fa-gratipay:before {
    content: ""
}

.fa-sun-o:before {
    content: ""
}

.fa-moon-o:before {
    content: ""
}

.fa-archive:before {
    content: ""
}

.fa-bug:before {
    content: ""
}

.fa-vk:before {
    content: ""
}

.fa-weibo:before {
    content: ""
}

.fa-renren:before {
    content: ""
}

.fa-pagelines:before {
    content: ""
}

.fa-stack-exchange:before {
    content: ""
}

.fa-arrow-circle-o-right:before {
    content: ""
}

.fa-arrow-circle-o-left:before {
    content: ""
}

.fa-caret-square-o-left:before,
.fa-toggle-left:before {
    content: ""
}

.fa-dot-circle-o:before {
    content: ""
}

.fa-wheelchair:before {
    content: ""
}

.fa-vimeo-square:before {
    content: ""
}

.fa-try:before,
.fa-turkish-lira:before {
    content: ""
}

.fa-plus-square-o:before {
    content: ""
}

.fa-space-shuttle:before {
    content: ""
}

.fa-slack:before {
    content: ""
}

.fa-envelope-square:before {
    content: ""
}

.fa-wordpress:before {
    content: ""
}

.fa-openid:before {
    content: ""
}

.fa-bank:before,
.fa-institution:before,
.fa-university:before {
    content: ""
}

.fa-graduation-cap:before,
.fa-mortar-board:before {
    content: ""
}

.fa-yahoo:before {
    content: ""
}

.fa-google:before {
    content: ""
}

.fa-reddit:before {
    content: ""
}

.fa-reddit-square:before {
    content: ""
}

.fa-stumbleupon-circle:before {
    content: ""
}

.fa-stumbleupon:before {
    content: ""
}

.fa-delicious:before {
    content: ""
}

.fa-digg:before {
    content: ""
}

.fa-pied-piper:before {
    content: ""
}

.fa-pied-piper-alt:before {
    content: ""
}

.fa-drupal:before {
    content: ""
}

.fa-joomla:before {
    content: ""
}

.fa-language:before {
    content: ""
}

.fa-fax:before {
    content: ""
}

.fa-building:before {
    content: ""
}

.fa-child:before {
    content: ""
}

.fa-paw:before {
    content: ""
}

.fa-spoon:before {
    content: ""
}

.fa-cube:before {
    content: ""
}

.fa-cubes:before {
    content: ""
}

.fa-behance:before {
    content: ""
}

.fa-behance-square:before {
    content: ""
}

.fa-steam:before {
    content: ""
}

.fa-steam-square:before {
    content: ""
}

.fa-recycle:before {
    content: ""
}

.fa-automobile:before,
.fa-car:before {
    content: ""
}

.fa-cab:before,
.fa-taxi:before {
    content: ""
}

.fa-tree:before {
    content: ""
}

.fa-spotify:before {
    content: ""
}

.fa-deviantart:before {
    content: ""
}

.fa-soundcloud:before {
    content: ""
}

.fa-database:before {
    content: ""
}

.fa-file-pdf-o:before {
    content: ""
}

.fa-file-word-o:before {
    content: ""
}

.fa-file-excel-o:before {
    content: ""
}

.fa-file-powerpoint-o:before {
    content: ""
}

.fa-file-image-o:before,
.fa-file-photo-o:before,
.fa-file-picture-o:before {
    content: ""
}

.fa-file-archive-o:before,
.fa-file-zip-o:before {
    content: ""
}

.fa-file-audio-o:before,
.fa-file-sound-o:before {
    content: ""
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
    content: ""
}

.fa-file-code-o:before {
    content: ""
}

.fa-vine:before {
    content: ""
}

.fa-codepen:before {
    content: ""
}

.fa-jsfiddle:before {
    content: ""
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-ring:before,
.fa-life-saver:before,
.fa-support:before {
    content: ""
}

.fa-circle-o-notch:before {
    content: ""
}

.fa-ra:before,
.fa-rebel:before {
    content: ""
}

.fa-empire:before,
.fa-ge:before {
    content: ""
}

.fa-git-square:before {
    content: ""
}

.fa-git:before {
    content: ""
}

.fa-hacker-news:before,
.fa-y-combinator-square:before,
.fa-yc-square:before {
    content: ""
}

.fa-tencent-weibo:before {
    content: ""
}

.fa-qq:before {
    content: ""
}

.fa-wechat:before,
.fa-weixin:before {
    content: ""
}

.fa-paper-plane:before,
.fa-send:before {
    content: ""
}

.fa-paper-plane-o:before,
.fa-send-o:before {
    content: ""
}

.fa-history:before {
    content: ""
}

.fa-circle-thin:before {
    content: ""
}

.fa-header:before {
    content: ""
}

.fa-paragraph:before {
    content: ""
}

.fa-sliders:before {
    content: ""
}

.fa-share-alt:before {
    content: ""
}

.fa-share-alt-square:before {
    content: ""
}

.fa-bomb:before {
    content: ""
}

.fa-futbol-o:before,
.fa-soccer-ball-o:before {
    content: ""
}

.fa-tty:before {
    content: ""
}

.fa-binoculars:before {
    content: ""
}

.fa-plug:before {
    content: ""
}

.fa-slideshare:before {
    content: ""
}

.fa-twitch:before {
    content: ""
}

.fa-yelp:before {
    content: ""
}

.fa-newspaper-o:before {
    content: ""
}

.fa-wifi:before {
    content: ""
}

.fa-calculator:before {
    content: ""
}

.fa-paypal:before {
    content: ""
}

.fa-google-wallet:before {
    content: ""
}

.fa-cc-visa:before {
    content: ""
}

.fa-cc-mastercard:before {
    content: ""
}

.fa-cc-discover:before {
    content: ""
}

.fa-cc-amex:before {
    content: ""
}

.fa-cc-paypal:before {
    content: ""
}

.fa-cc-stripe:before {
    content: ""
}

.fa-bell-slash:before {
    content: ""
}

.fa-bell-slash-o:before {
    content: ""
}

.fa-trash:before {
    content: ""
}

.fa-copyright:before {
    content: ""
}

.fa-at:before {
    content: ""
}

.fa-eyedropper:before {
    content: ""
}

.fa-paint-brush:before {
    content: ""
}

.fa-birthday-cake:before {
    content: ""
}

.fa-area-chart:before {
    content: ""
}

.fa-pie-chart:before {
    content: ""
}

.fa-line-chart:before {
    content: ""
}

.fa-lastfm:before {
    content: ""
}

.fa-lastfm-square:before {
    content: ""
}

.fa-toggle-off:before {
    content: ""
}

.fa-toggle-on:before {
    content: ""
}

.fa-bicycle:before {
    content: ""
}

.fa-bus:before {
    content: ""
}

.fa-ioxhost:before {
    content: ""
}

.fa-angellist:before {
    content: ""
}

.fa-cc:before {
    content: ""
}

.fa-ils:before,
.fa-shekel:before,
.fa-sheqel:before {
    content: ""
}

.fa-meanpath:before {
    content: ""
}

.fa-buysellads:before {
    content: ""
}

.fa-connectdevelop:before {
    content: ""
}

.fa-dashcube:before {
    content: ""
}

.fa-forumbee:before {
    content: ""
}

.fa-leanpub:before {
    content: ""
}

.fa-sellsy:before {
    content: ""
}

.fa-shirtsinbulk:before {
    content: ""
}

.fa-simplybuilt:before {
    content: ""
}

.fa-skyatlas:before {
    content: ""
}

.fa-cart-plus:before {
    content: ""
}

.fa-cart-arrow-down:before {
    content: ""
}

.fa-diamond:before {
    content: ""
}

.fa-ship:before {
    content: ""
}

.fa-user-secret:before {
    content: ""
}

.fa-motorcycle:before {
    content: ""
}

.fa-street-view:before {
    content: ""
}

.fa-heartbeat:before {
    content: ""
}

.fa-venus:before {
    content: ""
}

.fa-mars:before {
    content: ""
}

.fa-mercury:before {
    content: ""
}

.fa-intersex:before,
.fa-transgender:before {
    content: ""
}

.fa-transgender-alt:before {
    content: ""
}

.fa-venus-double:before {
    content: ""
}

.fa-mars-double:before {
    content: ""
}

.fa-venus-mars:before {
    content: ""
}

.fa-mars-stroke:before {
    content: ""
}

.fa-mars-stroke-v:before {
    content: ""
}

.fa-mars-stroke-h:before {
    content: ""
}

.fa-neuter:before {
    content: ""
}

.fa-genderless:before {
    content: ""
}

.fa-facebook-official:before {
    content: ""
}

.fa-pinterest-p:before {
    content: ""
}

.fa-whatsapp:before {
    content: ""
}

.fa-server:before {
    content: ""
}

.fa-user-plus:before {
    content: ""
}

.fa-user-times:before {
    content: ""
}

.fa-bed:before,
.fa-hotel:before {
    content: ""
}

.fa-viacoin:before {
    content: ""
}

.fa-train:before {
    content: ""
}

.fa-subway:before {
    content: ""
}

.fa-medium:before {
    content: ""
}

.fa-y-combinator:before,
.fa-yc:before {
    content: ""
}

.fa-optin-monster:before {
    content: ""
}

.fa-opencart:before {
    content: ""
}

.fa-expeditedssl:before {
    content: ""
}

.fa-battery-4:before,
.fa-battery-full:before {
    content: ""
}

.fa-battery-3:before,
.fa-battery-three-quarters:before {
    content: ""
}

.fa-battery-2:before,
.fa-battery-half:before {
    content: ""
}

.fa-battery-1:before,
.fa-battery-quarter:before {
    content: ""
}

.fa-battery-0:before,
.fa-battery-empty:before {
    content: ""
}

.fa-mouse-pointer:before {
    content: ""
}

.fa-i-cursor:before {
    content: ""
}

.fa-object-group:before {
    content: ""
}

.fa-object-ungroup:before {
    content: ""
}

.fa-sticky-note:before {
    content: ""
}

.fa-sticky-note-o:before {
    content: ""
}

.fa-cc-jcb:before {
    content: ""
}

.fa-cc-diners-club:before {
    content: ""
}

.fa-clone:before {
    content: ""
}

.fa-balance-scale:before {
    content: ""
}

.fa-hourglass-o:before {
    content: ""
}

.fa-hourglass-1:before,
.fa-hourglass-start:before {
    content: ""
}

.fa-hourglass-2:before,
.fa-hourglass-half:before {
    content: ""
}

.fa-hourglass-3:before,
.fa-hourglass-end:before {
    content: ""
}

.fa-hourglass:before {
    content: ""
}

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
    content: ""
}

.fa-hand-paper-o:before,
.fa-hand-stop-o:before {
    content: ""
}

.fa-hand-scissors-o:before {
    content: ""
}

.fa-hand-lizard-o:before {
    content: ""
}

.fa-hand-spock-o:before {
    content: ""
}

.fa-hand-pointer-o:before {
    content: ""
}

.fa-hand-peace-o:before {
    content: ""
}

.fa-trademark:before {
    content: ""
}

.fa-registered:before {
    content: ""
}

.fa-creative-commons:before {
    content: ""
}

.fa-gg:before {
    content: ""
}

.fa-gg-circle:before {
    content: ""
}

.fa-tripadvisor:before {
    content: ""
}

.fa-odnoklassniki:before {
    content: ""
}

.fa-odnoklassniki-square:before {
    content: ""
}

.fa-get-pocket:before {
    content: ""
}

.fa-wikipedia-w:before {
    content: ""
}

.fa-safari:before {
    content: ""
}

.fa-chrome:before {
    content: ""
}

.fa-firefox:before {
    content: ""
}

.fa-opera:before {
    content: ""
}

.fa-internet-explorer:before {
    content: ""
}

.fa-television:before,
.fa-tv:before {
    content: ""
}

.fa-contao:before {
    content: ""
}

.fa-500px:before {
    content: ""
}

.fa-amazon:before {
    content: ""
}

.fa-calendar-plus-o:before {
    content: ""
}

.fa-calendar-minus-o:before {
    content: ""
}

.fa-calendar-times-o:before {
    content: ""
}

.fa-calendar-check-o:before {
    content: ""
}

.fa-industry:before {
    content: ""
}

.fa-map-pin:before {
    content: ""
}

.fa-map-signs:before {
    content: ""
}

.fa-map-o:before {
    content: ""
}

.fa-map:before {
    content: ""
}

.fa-commenting:before {
    content: ""
}

.fa-commenting-o:before {
    content: ""
}

.fa-houzz:before {
    content: ""
}

.fa-vimeo:before {
    content: ""
}

.fa-black-tie:before {
    content: ""
}

.fa-fonticons:before {
    content: ""
}

.fa-reddit-alien:before {
    content: ""
}

.fa-edge:before {
    content: ""
}

.fa-credit-card-alt:before {
    content: ""
}

.fa-codiepie:before {
    content: ""
}

.fa-modx:before {
    content: ""
}

.fa-fort-awesome:before {
    content: ""
}

.fa-usb:before {
    content: ""
}

.fa-product-hunt:before {
    content: ""
}

.fa-mixcloud:before {
    content: ""
}

.fa-scribd:before {
    content: ""
}

.fa-pause-circle:before {
    content: ""
}

.fa-pause-circle-o:before {
    content: ""
}

.fa-stop-circle:before {
    content: ""
}

.fa-stop-circle-o:before {
    content: ""
}

.fa-shopping-bag:before {
    content: ""
}

.fa-shopping-basket:before {
    content: ""
}

.fa-hashtag:before {
    content: ""
}

.fa-bluetooth:before {
    content: ""
}

.fa-bluetooth-b:before {
    content: ""
}

.fa-percent:before {
    content: ""
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

* {
    box-sizing: border-box
}

html {
    font-family: futura-pt, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    -webkit-font-feature-settings: "liga";
    position:relative;
    min-height:100%;
}

body {
  margin:0 0 120px;
}



a {
    color: #482054;
    text-decoration: underline;
    -webkit-transition: all .25s ease;
    transition: all .25s ease
}

a:hover {
    color: #873c9e
}

strong {
    font-weight: 700
}

main header {
    background-color: #482054;
    height: 100px;
    position: relative
}

main header h1 {
    float: left;
    width: 200px;
    height: 100%;
    padding: 20px
}

main header h1 img {
    height: 100%
}

main header a.menuBtn {
    display: none
}

main header nav {
    float: right;
    height: 100%
}

main header nav ul {
    height: 100%
}

main header nav ul li {
    margin-left: -5px;
    display: inline-block;
    height: 100%
}

main header nav ul li a {
    padding: 40px 20px 0;
    display: inline-block;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    text-decoration: none;
    text-transform: uppercase;
    color: #eabb8b;
    height: 100%
}

main header nav ul li a:hover {
    color: #faeee1;
    background-color: #381942
}

main header nav ul li a.active {
    font-weight: 700;
    color: #fff
}

@media (max-width:660px) {
    main header a.menuBtn {
        color: #eabb8b;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        height: 100%;
        padding: 0 20px;
        padding-top: 40px;
        text-align: right
    }
    main header a.menuBtn:hover {
        color: #faeee1
    }
    main header a.menuBtn:after {
        font-family: FontAwesome;
        content: '\f0c9';
        padding-left: 10px
    }
    main header a.menuBtn.open:after {
        content: '\f00d'
    }
    main header nav {
        position: absolute;
        float: left;
        width: 100%;
        top: 100px;
        height: auto;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: all .25s ease;
        transition: all .25s ease;
        z-index: 4
    }
    main header nav ul {
        width: 100%;
        background-color: #482054;
        overflow: hidden
    }
    main header nav ul li {
        display: block;
        margin: 0;
        border-top: 1px solid #381942
    }
    main header nav ul li a {
        height: 10vh;
        min-height: 40px;
        max-height: 60px;
        padding: 20px;
        padding: 3vh 20px;
        display: block;
        text-align: right;
        margin-right: 0;
        -webkit-transition: all .25s ease;
        transition: all .25s ease;

        /* updated 9/21/18 */
        padding: 20px;
    }
    main header nav ul li a.animate {
        -webkit-animation-name: e;
        animation-name: e;
        -webkit-animation-duration: .4s;
        animation-duration: .4s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-timing-function: cubic-bezier(.165, .84, .44, 1);
        animation-timing-function: cubic-bezier(.165, .84, .44, 1);
        margin-right: 100px;
        opacity: 0
    }
    main header nav ul li:nth-of-type(2) a.animate {
        -webkit-animation-delay: .02s;
        animation-delay: .02s
    }
    main header nav ul li:nth-of-type(3) a.animate {
        -webkit-animation-delay: .04s;
        animation-delay: .04s
    }
    main header nav ul li:nth-of-type(4) a.animate {
        -webkit-animation-delay: .06s;
        animation-delay: .06s
    }
    main header nav ul li:nth-of-type(5) a.animate {
        -webkit-animation-delay: .08s;
        animation-delay: .08s
    }
    main header nav.openNav {
        max-height: 320px
    }
}

main footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    padding: 20px;
    color: #482054;
    background-color: #ded6e1
}

main footer section {
    height: 40px;
    line-height: 40px
}

main footer section.dateandtime {
    float: left
}

main footer section.dateandtime address time {
    font-weight: 700
}

main footer section.socialmedia {
    float: right;
    text-align: right
}

main footer section.socialmedia ul li {
    display: inline-block
}

main footer section.socialmedia ul li a i.fa-inverse {
    color: #ded6e1
}

main footer section.copyright {
    clear: both;
    float: left
}

main footer section.copyright p {
    font: 400 .875rem futura-pt, sans-serif;
    line-height: 1.125rem;
    color: #676767
}

main footer section.top {
    float: right;
    text-align: right
}

main footer section.top a {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none
}

@media (max-width:660px) {
    body {
      margin:0;
    }
    main footer {
        height: auto;
        overflow: hidden;
        position:static;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    main footer section {
        height: auto;
        line-height: 2em;
        margin-bottom: 20px
    }
    main footer section.copyright,
    main footer section.dateandtime,
    main footer section.socialmedia,
    main footer section.top {
        width: 100%;
        float: none;
        clear: both;
        text-align: center
    }
    main footer section.top {
        margin-bottom: 0
    }
}

main section.body {
    opacity: 0;
    -webkit-animation-name: d;
    animation-name: d;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
}

main section.body section.container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    padding: 80px
}

@media (max-width:660px) {
    main section.body section.container {
        max-width: none;
        padding: 40px 20px
    }
}

main section.body section.container h2 {
    min-width: 200px;
    display: inline-block;
    font: 300 3rem futura-pt, sans-serif;
    color: #482054;
    border-bottom: 1px solid #ded6e1;
    padding-bottom: 20px;
    margin-bottom: 40px
}

main section.body section.container h3 {
    color: #454545;
    font: 400 1.25rem futura-pt, sans-serif;
    margin-top: -20px;
    margin-bottom: 40px
}

@media (max-width:660px) {
    main section.body section.container h2.home {
        font-size: 2rem;
        line-height: 2.25rem
    }
}

main section.body section.container section.cta-block a.cta {
    width: 280px;
    display: inline-block;
    border: 2px solid #000;
    padding: 20px;
    font: 700 1.125rem futura-pt, sans-serif;
    text-decoration: none;
    text-transform: uppercase
}

@media (max-width:780px) {
    main section.body section.container section.cta-block a.cta {
        width: 100%
    }
}

main section.body section.container section.cta-block a.cta.primary {
    margin-right: 10px;
    background-color: #482054;
    border-color: #482054;
    color: #fff
}

@media (max-width:780px) {
    main section.body section.container section.cta-block a.cta.primary {
        margin: 0;
        margin-bottom: 10px;
        width: 100%
    }
}

main section.body section.container section.cta-block a.cta.primary:hover {
    background-color: #873c9e;
    border-color: #873c9e
}

main section.body section.container section.cta-block a.cta.secondary {
    margin-left: 10px;
    border-color: #482054
}

@media (max-width:780px) {
    main section.body section.container section.cta-block a.cta.secondary {
        margin: 0;
        margin-bottom: 10px;
        width: 100%
    }
}

main section.body section.container section.cta-block a.cta.secondary:hover {
    background-color: #873c9e;
    border-color: #873c9e;
    color: #fff
}

main section.body section.container section.cta-block a.cta.primary:focus {
    background-color: #381942;
    border-color: #381942;
    outline: 0
}

main section.body section.container form ul {
    margin: 0
}

main section.body section.container address,
main section.body section.container form,
main section.body section.container p,
main section.body section.container ul {
    text-align: left;
    font: 400 1.25rem futura-pt, sans-serif;
    color: #676767;
    line-height: 1.5em;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden
}

main section.body section.container address strong,
main section.body section.container address time,
main section.body section.container form strong,
main section.body section.container form time,
main section.body section.container p strong,
main section.body section.container p time,
main section.body section.container ul strong,
main section.body section.container ul time {
    color: #454545;
    font-weight: 700
}

main section.body section.container address a,
main section.body section.container form a,
main section.body section.container p a,
main section.body section.container ul a {
    font-weight: 400
}

main section.body section.container address input,
main section.body section.container form input,
main section.body section.container p input,
main section.body section.container ul input {
    display: block;
    float: left;
    margin: 0;
    height: 40px;
    width: 50%;
    color: #482054
}

main section.body section.container address input:focus,
main section.body section.container form input:focus,
main section.body section.container p input:focus,
main section.body section.container ul input:focus {
    border: 1px solid #482054;
    outline: 0
}

main section.body section.container address input#in-email,
main section.body section.container form input#in-email,
main section.body section.container p input#in-email,
main section.body section.container ul input#in-email {
    margin-left: 20px;
    width: calc(50% - 20px)
}

main section.body section.container address input,
main section.body section.container address textarea,
main section.body section.container form input,
main section.body section.container form textarea,
main section.body section.container p input,
main section.body section.container p textarea,
main section.body section.container ul input,
main section.body section.container ul textarea {
    padding-left: 10px;
    font: inherit;
    margin-bottom: 20px;
    border: 1px solid #ded6e1
}

main section.body section.container address input#in-title,
main section.body section.container address textarea,
main section.body section.container form input#in-title,
main section.body section.container form textarea,
main section.body section.container p input#in-title,
main section.body section.container p textarea,
main section.body section.container ul input#in-title,
main section.body section.container ul textarea {
    width: 100%
}

main section.body section.container address textarea,
main section.body section.container form textarea,
main section.body section.container p textarea,
main section.body section.container ul textarea {
    height: 120px;
    resize: vertical
}

main section.body section.container address fieldset.submit,
main section.body section.container form fieldset.submit,
main section.body section.container p fieldset.submit,
main section.body section.container ul fieldset.submit {
    text-align: center
}

main section.body section.container address fieldset.submit input[type=submit],
main section.body section.container form fieldset.submit input[type=submit],
main section.body section.container p fieldset.submit input[type=submit],
main section.body section.container ul fieldset.submit input[type=submit] {
    float: none;
    display: inline;
    padding: 20px;
    width: 280px;
    height: initial;
    border: 2px solid #000;
    font: 700 1.125rem futura-pt, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #482054;
    border-color: #482054;
    color: #fff;
    -webkit-transition: all .25s ease;
    transition: all .25s ease
}

main section.body section.container address fieldset.submit input[type=submit]:hover,
main section.body section.container form fieldset.submit input[type=submit]:hover,
main section.body section.container p fieldset.submit input[type=submit]:hover,
main section.body section.container ul fieldset.submit input[type=submit]:hover {
    cursor: pointer;
    background-color: #873c9e;
    border-color: #873c9e
}

main section.body section.container address fieldset.submit input[type=submit]:focus,
main section.body section.container form fieldset.submit input[type=submit]:focus,
main section.body section.container p fieldset.submit input[type=submit]:focus,
main section.body section.container ul fieldset.submit input[type=submit]:focus {
    background-color: #381942;
    border-color: #381942;
    outline: 0
}

@media (max-width:660px) {
    main section.body section.container address input,
    main section.body section.container address input#in-email,
    main section.body section.container form input,
    main section.body section.container form input#in-email,
    main section.body section.container p input,
    main section.body section.container p input#in-email,
    main section.body section.container ul input,
    main section.body section.container ul input#in-email {
        width: 100%;
        margin-left: 0
    }
}

main section.body section.container ul.column {
    list-style-type: initial;
    list-style-position: inside;
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
    -webkit-column-gap: 80px;
    -moz-column-gap: 80px;
    column-gap: 80px
}

@media (max-width:780px) {
    main section.body section.container ul.column {
        margin-left: 40px;
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px
    }
}

@media (max-width:660px) {
    main section.body section.container ul.column {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0
    }
}

main section.body section.container ul.column li {
    color: #676767;
    margin-bottom: 10px
}

main section.body section.container iframe {
    margin-bottom: 20px
}

main section.body section.container section.perspective.animate {
    z-index: 4;
    -webkit-animation-name: b;
    animation-name: b;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(.165, .84, .44, 1);
    animation-timing-function: cubic-bezier(.165, .84, .44, 1)
}

main section.body section.container section.perspective {
    padding-bottom: 80px;
    -webkit-perspective: 400px;
    perspective: 400px;
    -webkit-perspective-origin: center;
    perspective-origin: center;
    opacity: 0;
}

main section.body section.container section.perspective section.exhibit.home {
    width: 600px;
    margin: 0 auto
}

main section.body section.container section.perspective section.exhibit.animate {
    -webkit-animation-name: b;
    animation-name: b;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(.165, .84, .44, 1);
    animation-timing-function: cubic-bezier(.165, .84, .44, 1)
}

main section.body section.container section.perspective section.exhibit {
    -webkit-perspective: 400px;
    perspective: 400px;
    -webkit-perspective-origin: bottom;
    perspective-origin: bottom;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

main section.body section.container section.perspective section.exhibit figure.item {
    width: 200px;
    height: 200px;
    outline: 1px solid #ded6e1;
    outline-offset: 1px;
    margin: 5px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    z-index: 3
}

main section.body section.container section.perspective section.exhibit figure.item a {
    display: block;
    height: 100%;
    width: 100%;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0
}

main section.body section.container section.perspective section.exhibit figure.item span.image {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    -webkit-transition: all .25s ease;
    transition: all .25s ease
}

main section.body section.container section.perspective section.exhibit figure.item figcaption {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: 1;
    opacity: 0;
    background-color: transparent;
    top: 0;
    left: 0;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    color: #fff;
    font: 400 1.25rem futura-pt, sans-serif;
    padding-top: 25%;
    text-align: center;
    text-shadow: 0 0 5px #000;
    /* updated 9/21/18 */
    text-shadow: none;
}

main section.body section.container section.perspective section.exhibit figure.item figcaption strong {
    display: block
}

main section.body section.container section.perspective section.exhibit figure.item:hover {
    cursor: pointer;
    -webkit-transform: translateZ(20px);
    transform: translateZ(20px)
}

/* updated 9/21/18 */
main section.body section.container section.perspective section.exhibit figure.item:hover figcaption:not(:empty) {
    opacity: 1;
    background-color: rgba(0, 0, 0, .8)
}

main section.body section.container section.perspective section.exhibit figure.item.current:before {
    content: 'Current';
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: #482054;
    font: 400 .875rem futura-pt, sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-bottom: 0;
    border-left: 0;
    z-index: 2
}

main section.body section.container nav.pagination {
    padding: 0;
    height: auto
}

main section.body section.container nav.pagination ul {
    text-align: center;
    margin: 0
}

main section.body section.container nav.pagination ul li {
    display: inline-block
}

main section.body section.container nav.pagination ul li a {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #482054;
    margin: 0 20px;
    border-radius: 100%;
    -webkit-transition: all .25s ease;
    transition: all .25s ease
}

main section.body section.container nav.pagination ul li a:hover {
    border-color: #873c9e;
    background-color: #873c9e
}

main section.body section.container nav.pagination ul li a.active {
    background-color: #482054
}

main section.body section.container nav.pagination ul li a.active:hover {
    background-color: #873c9e;
    border-color: #873c9e
}

main section.body section.container section.exhibit-info {
    padding: 20px;
    padding-left: 0
}

main section.body section.container section.exhibit-info section.info thead {
    font-weight: 700;
    color: #482054;
    text-align: left
}

main section.body section.container section.exhibit-info section.info thead tr td {
    padding-bottom: 10px
}

main section.body section.container section.exhibit-info section.info tbody tr td {
    text-align: left;
    padding-right: 10px;
    padding-bottom: 5px
}

main section.body section.container section.exhibit-info section.info tbody tr td.cat {
    font-weight: 700
}

main section.body section.container section.exhibit-info section.socialmedia {
    padding-top: 20px;
    margin-bottom: 40px
}

main section.body section.container section.exhibit-info section.socialmedia .fb-share-button,
main section.body section.container section.exhibit-info section.socialmedia .g-plus,
main section.body section.container section.exhibit-info section.socialmedia .twitter-share-button {
    float: left;
    margin-right: 10px
}

main section.body section.container section.exhibit-info section.socialmedia #___plus_0 {
    float: left!important
}

@media (max-width:780px) {
    main section.body section.container section.perspective {
        -webkit-perspective: 0;
        perspective: 0;
        -webkit-animation: none;
        animation: none;
        margin-bottom: 40px
    }
    main section.body section.container section.perspective section.exhibit.home {
        width: 100%
    }
    main section.body section.container section.perspective section.exhibit.animate {
        -webkit-perspective: 0;
        perspective: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-animation: none;
        animation: none
    }
    main section.body section.container section.perspective {
        padding-bottom: 0
    }
    main section.body section.container section.perspective.animate {
        -webkit-animation-name: c;
        animation-name: c
    }
    main section.body section.container figure.item {
        -webkit-animation: d;
        animation: d;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
}

@-webkit-keyframes b {
    0% {
        -webkit-transform: rotateX(50deg) translateY(100px);
        transform: rotateX(50deg) translateY(100px);
        opacity: 0
    }
    to {
        -webkit-transform: rotateX(0deg) translateY(0);
        /* updated 9/21/18 */
        transform: rotateX(0deg) translateY(0);
        opacity: 1
    }
}

@keyframes b {
    0% {
        -webkit-transform: rotateX(50deg) translateY(100px);
        transform: rotateX(50deg) translateY(100px);
        opacity: 0
    }
    to {
        -webkit-transform: rotateX(0deg) translateY(0);
        /* updated 9/21/18 */
        transform: rotateX(0deg) translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes c {
    0% {
        -webkit-transform: rotateX(50deg) translateY(100px);
        transform: rotateX(50deg) translateY(100px);
        opacity: 0
    }
    to {
        -webkit-transform: rotateX(0deg) translateY(0);
        transform: rotateX(0deg) translateY(0);
        opacity: 1
    }
}

@keyframes c {
    0% {
        -webkit-transform: rotateX(50deg) translateY(100px);
        transform: rotateX(50deg) translateY(100px);
        opacity: 0
    }
    to {
        -webkit-transform: rotateX(0deg) translateY(0);
        transform: rotateX(0deg) translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes d {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes d {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes e {
    0% {
        margin-right: 100px;
        opacity: 0
    }
    to {
        margin-right: 0;
        opacity: 1
    }
}

@keyframes e {
    0% {
        margin-right: 100px;
        opacity: 0
    }
    to {
        margin-right: 0;
        opacity: 1
    }
}

.lightboxOverlay {
    opacity: .9
}

.lb-outerContainer {
    background: none
}

.lb-container {
    box-shadow: 0 0 50px #000
}

.lightbox .lb-image {
    border-radius: 0
}

.lb-data .lb-number,
.lb-details {
    color: #fff
}

.lb-details .lb-data {
    padding-top: 5px
}

.lb-cancel,
.lb-data .lb-close,
.lb-nav a.lb-next,
.lb-nav a.lb-prev {
    background-image: none;
    text-decoration: none;
    padding-top: 20px
}

.lb-data .lb-close a {
    color: #fff
}

.lb-data .lb-close:after {
    content: '\f00d'
}

.lb-cancel:after,
.lb-data .lb-close:after {
    color: #fff;
    font-family: FontAwesome;
    font-size: 2em;
    text-decoration: none
}

.lb-cancel:after {
    content: '\f110'
}

.lb-nav a.lb-next {
    padding: 35% 3% 0 0
}

.lb-nav a.lb-prev {
    padding: 35% 0 0 3%
}

.lb-nav a.lb-next:after {
    content: '\f054';
    float: right
}

.lb-nav a.lb-next:after,
.lb-nav a.lb-prev:before {
    color: #fff;
    font-family: FontAwesome;
    font-size: 2em;
    text-decoration: none
}

.lb-nav a.lb-prev:before {
    content: '\f053';
    float: left
}